.navbar{
    width: 100vw;
    height: 60px;
}
@media only screen and (max-width: 840px) and (min-width:360px) {
    body {
        background-color:white;
      }
}


#bg{
    background-image: url("../images/h1.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;
}


.row{
   
    height: 50vh;
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;
    text-align: center;
    
  
}
.heading{
    text-align: center;
    padding: 50px;
    justify-content:center;
    align-items: center;
    margin-left: 60px;
    margin-top: 70px;
}
.btn {
    border:navy;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
#row-bg{
    background-image: url("../images/bg3.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;
   
}
#text{
    text-align: center;
    padding: 100px;
    justify-content:center;
    align-items: center;
    margin-left: 200px;
    margin-top: 100px;
    color:white;
    
}
.text2{
    text-align: center;
    padding: 100px;
    justify-content:center;
    align-items: center;
    margin-left: 300px;
    margin-top: 50px;
    color:black;
    
}
#text3{
    text-align: center;
    justify-content:center;
    align-items: center;
    margin-left: 500px;
    color:black;
    text-transform: uppercase;
  
}
#text4{
    text-align: center;
    padding: 15px;
    font-size: 15px;
    justify-content:center;
    align-items: center;
    margin-left:30px;
    color: darkslategray;    
}
#clients{
   align-items: center;
} 
h5{
    text-align:center;
    padding: 15px;
}
#bg-opacity{
    background-image: url("../images/bg4.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;
   
}
.card-group{
    text-align: center;
    font-size: 15px;
    justify-content:center;
    align-items: center;
    color:black;  
}
.card{
    margin-right: 200px;
    width: 100px;
    height: 200px;
    opacity: 80%;
    margin-left:50px ;
}
#card-bg{
    background-image: url("../images/bg4.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;
    opacity: 90%;
   
}
#footer{
    margin-top:30px;
    margin-right: 500px;
    width: 100px;
    height: 200px;
    align-items: center;

}
.p{
    text-align: center;
    padding: 15px;
    font-size: 15px;
    font-style: italic;
    justify-content:center;
    align-items: center;
    margin-left:500px;
    color:black; 
    

}
