.navbar{
    width: 100vw;
    height: 60px;
}
@media  screen and (max-width:700px){
   
   #col-md-4{
       width:100vw;
       height: 300px;
   }  
   #home-page{
       width: 100vw;
   }
   #bg{
       width: 100vw !important;
       height: 400px;
       background-image: url("../images/h1.jpg");
   }
   #row-bg{
    width: 100vw !important;
    height: 400px;
    background-image: url("../images/bg3.jpg");
   }
   .col-md-6{
    width:100vw;
    height: 300px; 
   }  
   
   .col-md-3{
    width:100vw;
    height: 300px; 
   }

}
#bg{
    background-image: url("../images/h1.jpg");
}


@media  screen and (min-width:700px){
#bg{
    background-image: url("../images/h1.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;
    
}
.heading{
    text-align: center;
    padding:20%;
    justify-content:center;
    align-items: center;
}
#text{
    text-align: center;
    padding: 100px;
    justify-content:center;
    align-items: center;
    margin-left: 700px;
    margin-right: 300px;
    color:white;
    
}

}

.row{
   
    height: 50vh;
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;
    text-align: center;
    
  
}
.btn {
    border:navy;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
#row-bg{
    background-image: url("../images/bg3.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;
   
}
#text{
    text-align: center;
    padding: 100px;
    justify-content:center;
    align-items: center;
    margin-left: 200px;
    margin-top: 100px;
    color:white;
    
}
.text2{
    text-align: center;
    padding: 100px;
    justify-content:center;
    align-items: center;
    margin-left: 300px;
    margin-top: 50px;
    color:black;
    
}
#text3{
    text-align: center;
    justify-content:center;
    align-items: center;
    margin-left: 500px;
    color:black;
    text-transform: uppercase;
  
}
#text4{
    text-align: center;
    padding: 15px;
    font-size: 15px;
    justify-content:center;
    align-items: center;
    margin-left:30px;
    color: darkslategray;    
}
#clients{
   align-items: center;
} 
h5{
    text-align:center;
    padding: 15px;
}
h4{
    text-align:center;
    padding: 15px; 
    text-align: center;
    font-size: 15px;
    font-style: italic;
    justify-content:center;
    align-items: center;
    margin-left:550px;
    color:grey; 
}
#bg-opacity{
    background-image: url("../images/bg4.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;
   
}
.card-group{
    text-align: center;
    font-size: 15px;
    justify-content:center;
    align-items: center;
    color:black;  
}
.card{
    margin-right: 200px;
    width: 200px;
    height: 300px;
    opacity: 80%;
    margin-left:50px ;
}
#card-bg{
    background-image: url("../images/bg4.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;
    opacity: 90%;
   
}
 .card-text{
    text-align: center;
    padding: 15px;
    font-size: 15px;
    font-style: italic;
    justify-content:center;
    align-items: center;
    margin-left:500px;
    color:black; 
}
.card-text{
    text-align: center;
}

#footer{
    margin-top:30px;
    margin-right: 500px;
    width: 100px;
    height: 200px;
    align-items: center;

}
.p{
    text-align: center;
    padding: 15px;
    font-size: 15px;
    font-style: italic;
    justify-content:center;
    align-items: center;
    margin-left:500px;
    color:black; 
    

}
#font{
    font-size: 13px;
    align-items: center;
    text-align:justify;
    padding: 30px;
   
}
#fonts{

    text-align: left;
    text-align:justify;
    padding: 30px;
}

#btns{
 margin-right: 350px;
}